{% extends 'base.html' %}
{% block title %}
    Rent boat
{% endblock %}
{% block content %}
    <h1>Rent boat</h1>
    <h3>{{ boat.name }}</h3>
    <p>
        Price: {{ boat.price }}
    </p>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success">Rent</button>
        </form>
    <script>
    window.onload = function() {
        var boatRenter = "{{ user.id }}";
        document.getElementById('renter').value = boatRenter;
        var boatId = "{{ boat.id }}";
        document.getElementById('boat').value = boatId;
    }
    </script>
    </div>
{% endblock %}